<div class="row">
  <div class="span2">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Tracks</li>
        <% Position.dates.each do |p| %>
          <%= content_tag :li, class: p.date == @date ? 'active' : nil do %>
            <%= link_to p.date, positions_path(date: p.date)%>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span10">
    <div id="map_canvas"
         style="width:760px; height:480px;"
         data-positions='<%= raw @positions.to_json %>'
         data-tweets="<%= @tweets.to_json %>">
    </div>
  </div>
</div>
