<div id="map_canvas"
     style="width:760px; height:480px;"
     data-center-lat="<%= @last_position.latitude %>"
     data-center-lng="<%= @last_position.longitude %>"
     data-positions='<%= raw @positions.to_json %>'>
</div>

