development:
  adapter: mysql2
  encoding: utf8
  database: tracker_devel
  username: tracker
  password: 

test:
  adapter: mysql2
  encoding: utf8
  database: tracker_test
  username: tracker
  password: 

production:
  adapter: mysql2
  encoding: utf8
  database: tracker_prod
  username: tracker
  password: 
